
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header input {
    box-sizing: border-box;
    width: 150px;
    height: 25px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    outline: none;
}

header button {
    outline: none;
}